/*#app {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-height: 400px;*/
    /*max-width: 400px;*/
/*}*/

.progress {
    height: 21px;
}

.progress .progress-bar {
    font-size: 13px;
    line-height: 21px;
}

.full-screen {
    position: fixed;
    top: 54px;
    bottom: 54px;
    left: 5px;
    right: 5px;
}

.wrapper {
    background: gold;
    height: 100vmin;
    width: 100vmin;
    object-fit: scale-down;
}

.with-padding {
    padding-top: 54px;
}

.topicHeading {
    padding-top: 80px;
}

.padding10 {
    padding-top: 10px;
}

.thumbImage {
    width: 75px;
    height: 75px;
}